[Unit]
Description=erydb
After=network.target
[Service]
Type=forking
#Restart=on-abnormal
GuessMainPID=yes
ExecStart=/usr/local/erydb/bin/erydb start
ExecStopPost=/usr/local/erydb/bin/erydb stop
TimeoutStopSec=5
LimitNOFILE=65535
[Install]
WantedBy=multi-user.target
