#
# $Id: my.cnf 9502 2013-05-09 15:37:30Z pleblanc $
#
# Example MySQL config file for very large systems.
#
# This is for a large system with memory of 1G-2G where the system runs mainly
# MySQL.
#
# You can copy this file to
# /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /var/lib/mysql) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port = 3306
socket		= /usr/local/erydb/mysql/db/mysql.sock

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
port = 3306
socket	 = /usr/local/erydb/mysql/db/mysql.sock
datadir  = /usr/local/erydb/mysql/db
log-error = /var/log/erydb/mariadb.log
pid-file = /usr/local/erydb/mysql/db/mariadb.pid
skip-external-locking
key_buffer_size = 512M
max_allowed_packet = 32M
max_length_for_sort_data=102400
max_sort_length=102400
max_tmp_tables=512
table_cache = 512
sort_buffer_size = 256M
read_buffer_size = 4M
read_rnd_buffer_size = 16M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 0
# Try number of CPU's*2 for thread_concurrency
#thread_concurrency = 8
thread_stack = 512K
join_buffer_size = 128M
lower_case_table_names=1
default-storage-engine=InnoDB
group_concat_max_len=512
innodb_autoinc_lock_mode=2
skip-name-resolve
symbolic-links=1
# log_output=FILE 
general_log=1
general_log_file=/var/log/erydb/general.log
expire-logs-days=5
log-warnings=1 
slow_query_log=1 
long-query-time=5 
slow_query_log_file = /var/log/erydb/slow.log  


# Enable compression by default on create, set to 0 to turn off
erydb_compression_type=2

# Default for string table threshhold
erydb_stringtable_threshold=20

# erydb local query flag
# erydb_local_query=1

erydb_diskjoin_smallsidelimit=0
erydb_diskjoin_largesidelimit=0
erydb_diskjoin_bucketsize=100
erydb_um_mem_limit=0

erydb_use_import_for_batchinsert=1
erydb_import_for_batchinsert_delimiter=7

basedir                         = /usr/local/erydb/mysql/
character-sets-dir              = /usr/local/erydb/mysql/share/charsets/
lc-messages-dir                 = /usr/local/erydb/mysql/share/
plugin_dir                      = /usr/local/erydb/mysql/lib/plugin

# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking

# Replication Master Server (default)
# binary logging is required for replication
# log-bin=mysql-bin
# binlog_format=ROW

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host
# uses to 2+ if slave-host
server-id = 1
slave-skip-errors=all

# Replication Slave (comment out master section to use this)
#
# To configure this host as a replication slave, you can choose between
# two methods :
#
# 1) Use the CHANGE MASTER TO command (fully described in our manual) -
#    the syntax is:
#
#    CHANGE MASTER TO MASTER_HOST=<host>, MASTER_PORT=<port>,
#    MASTER_USER=<user>, MASTER_PASSWORD=<password> ;
#
#    where you replace <host>, <user>, <password> by quoted strings and
#    <port> by the master's port number (3306 by default).
#
#    Example:
#
#    CHANGE MASTER TO MASTER_HOST='125.564.12.1', MASTER_PORT=3306,
#    MASTER_USER='joe', MASTER_PASSWORD='secret';
#
# OR
#
# 2) Set the variables below. However, in case you choose this method, then
#    start replication for the first time (even unsuccessfully, for example
#    if you mistyped the password in master-password and the slave fails to
#    connect), the slave will create a master.info file, and any later
#    change in this file to the variables' values below will be ignored and
#    overridden by the content of the master.info file, unless you shutdown
#    the slave server, delete master.info and restart the slaver server.
#    For that reason, you may want to leave the lines below untouched
#    (commented) and instead use CHANGE MASTER TO (see above)
#
#
# The replication master for this slave - required
#master-host     =   <hostname>
#
# The username the slave will use for authentication when connecting
# to the master - required
#master-user     =   <username>
#
# The password the slave will authenticate with when connecting to
# the master - required
#master-password =   <password>
#
# The port the master is listening on.
# optional - defaults to 3306
#master-port     =  <port>
#
# binary logging - not required for slaves, but recommended
#log-bin=/usr/local/erydb/mysql/db/mysql-bin
relay-log=/usr/local/erydb/mysql/db/relay-bin
relay-log-index = /usr/local/erydb/mysql/db/relay-bin.index 
relay-log-info-file = /usr/local/erydb/mysql/db/relay-bin.info

# Point the following paths to different dedicated disks
#tmpdir		= /tmp/		
#log-update 	= /path-to-dedicated-directory/hostname

# Uncomment the following if you are using InnoDB tables
#innodb_data_home_dir = /usr/local/erydb/mysql/lib/mysql/
#innodb_data_file_path = ibdata1:2000M;ibdata2:10M:autoextend
#innodb_log_group_home_dir = /usr/local/erydb/mysql/lib/mysql/
#innodb_log_arch_dir = /usr/local/erydb/mysql/lib/mysql/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
#innodb_buffer_pool_size = 384M
#innodb_additional_mem_pool_size = 20M
# Set .._log_file_size to 25 % of buffer pool size
#innodb_log_file_size = 100M
#innodb_log_buffer_size = 8M
#innodb_flush_log_at_trx_commit = 1
#innodb_lock_wait_timeout = 50









## Retry bind as this may fail on busy server
#port-open-timeout=10
#
#log-bin-trust-function-creators=1
#key_buffer_size=            1M
#sort_buffer_size=           256K
#max_heap_table_size=        1M
#loose-aria-pagecache-buffer-size=8M
#
#loose-feedback-user-info=  mysql-test
#loose-feedback-debug-startup-interval=20
#loose-feedback-debug-first-interval=60
#loose-feedback-debug-interval=60
#
#loose-innodb_data_file_path=      ibdata1:12M:autoextend
#loose-innodb_buffer_pool_size=    8M
#loose-innodb_lru_scan_depth=      100
#loose-innodb_write_io_threads=    2
#loose-innodb_read_io_threads=     2
#loose-innodb_log_buffer_size=     1M
#loose-innodb_log_file_size=       5M
#loose-innodb_log_files_in_group=  2
#loose-innodb-stats-persistent=    OFF
#
#slave-net-timeout=120
#
## MAINTAINER:
## the loose- syntax is to make sure the cnf file is also
## valid when building without the performance schema.
#
## Run tests with the performance schema instrumentation
#loose-enable-performance-schema
## Run tests with a small number of instrumented objects
## to limit memory consumption with MTR
#loose-performance-schema-accounts-size=100
#loose-performance-schema-digests-size=200
#loose-performance-schema-hosts-size=100
#loose-performance-schema-users-size=100
#loose-performance-schema-max-mutex-instances=5000
#loose-performance-schema-max-rwlock-instances=5000
#loose-performance-schema-max-cond-instances=1000
#loose-performance-schema-max-file-instances=10000
#loose-performance-schema-max-socket-instances=1000
#loose-performance-schema-max-table-instances=500
#loose-performance-schema-max-table-handles=1000
#
#loose-performance-schema-events-waits-history-size=10
#loose-performance-schema-events-waits-history-long-size=10000
#loose-performance-schema-events-stages-history-size=10
#loose-performance-schema-events-stages-history-long-size=1000
#loose-performance-schema-events-statements-history-size=10
#loose-performance-schema-events-statements-history-long-size=1000
#loose-performance-schema-max-thread-instances=200
#loose-performance-schema-session-connect-attrs-size=2048
#
## Enable everything, for maximun code exposure during testing
#
#loose-performance-schema-instrument='%=ON'
#
#loose-performance-schema-consumer-events-stages-current=ON
#loose-performance-schema-consumer-events-stages-history=ON
#loose-performance-schema-consumer-events-stages-history-long=ON
#loose-performance-schema-consumer-events-statements-current=ON
#loose-performance-schema-consumer-events-statements-history=ON
#loose-performance-schema-consumer-events-statements-history-long=ON
#loose-performance-schema-consumer-events-waits-current=ON
#loose-performance-schema-consumer-events-waits-history=ON
#loose-performance-schema-consumer-events-waits-history-long=ON
#loose-performance-schema-consumer-global-instrumentation=ON
#loose-performance-schema-consumer-thread-instrumentation=ON
#
binlog-direct-non-transactional-updates
 
#[server]
#sql-mode=NO_ENGINE_SUBSTITUTION
##binlog-format=row
#log-bin=master-bin
#partition
#
#[mysqld]

wsrep-on=1
wsrep_debug=1
wsrep_erydb_type=1
binlog_format = row
default_storage_engine = innodb

wsrep_sst_auth=root:
#wsrep_sst_auth=sst:mysqlsst
wsrep_cluster_name=MyCluster
wsrep_node_name=node1
wsrep_node_address=192.168.160.10
wsrep_cluster_address=gcomm://
#wsrep_notify_cmd=/etc/mysql/wsrep_notify_cmd.sh
wsrep_slave_threads=8


wsrep_sst_method=rsync 
wsrep_provider = /usr/lib64/galera-3/libgalera_smm.so
innodb_flush_log_at_trx_commit= 0
innodb-autoinc-lock-mode=2
innodb-locks-unsafe-for-binlog=1



[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[isamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

 
